.see-profile2{
    height: 25px;

    border: none;
    outline: none;
    background-color: #e6f0f3;
    border-radius: 5px;
    color: #7db3c1;
    min-width: 0px;
    margin-right: 1%;
    padding-left: 8px;
    width: auto;
    margin-top: 6px;
}

.see-profile2-labels{
    color: #999daa;


}



