#searchbar::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    padding-left: 8px;
}
#searchbar::-moz-placeholder { /* Firefox 19+ */
    padding-left: 8px;
}
#searchbar:-ms-input-placeholder { /* IE 10+ */
    padding-left: 8px;
}
#searchbar:-moz-placeholder { /* Firefox 18- */
    padding-left: 8px;
}
